.pending-leaves-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaves-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.leave-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease;
    flex-wrap: wrap;
}

.leave-card-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.leave-card-item {
    flex: 1;
    min-width: 150px;
    margin-right: 20px;
}

.pending-leaves-button-group {
    display: flex;
    gap: 10px;
}

.pending-leaves-header {
    color: rgb(0, 167, 167);
}

.edit-button-pending {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-button-pending:hover {
    background-color: #2980b9;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.delete-button-pending {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.delete-button-pending:hover {
    background-color: #c0392b;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.see-more-button-pending {
    background: none;
    border: none;
    color: #3498db;
    cursor: pointer;
    transition: color 0.3s ease;
}

.see-more-button-pending:hover {
    color: #2980b9;
}
