@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+ES+Deco:wght@100..400&display=swap');
/* Container and layout styling */
.container {
    display: flex;
    margin-top: 60px;
    height: calc(100vh - 60px);
    overflow-y: hidden;
  }
  
  /* Main container for content */
  .mainContainer {
    margin-left: 250px;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    height: calc(100ch - 60px);
  }
  
  /* Layout responsive adjustments */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      margin-top: 50px;
    }
  
    .mainContainer {
      padding: 10px;
      margin-left: 200px;
    }
  }

  @media(max-width:480px){
    .mainContainer{
        margin-left: 180px;
    }
  }
  