.password-reset-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
  }
  
  .password-reset-container h2 {
    color: #00a7a7; /* Teal color for header */
  }
  
  .password-reset-input-group {
    margin-bottom: 20px;
    position: relative;
  }
  
  .password-reset-input-group input {
    width: calc(100% - 60px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .password-reset-input-group button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
    background-color: #00a7a7; /* Teal color for button */
    color: #fff;
    padding: 0 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
  }
  
  .password-reset-input-group button:hover {
    background-color: #088e8e; /* Darker teal on hover */
  }
  
  .password-reset-error-message {
    color: #f44336; /* Red color for errors */
  }
  
  .password-reset-success-message {
    color: #4caf50; /* Green color for success */
  }
  
  .password-reset-button {
    background-color: #00a7a7; /* Teal color for submit button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .password-reset-button:hover {
    background-color: #088e8e; /* Darker teal on hover */
  }
  