@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");


.mainSidebar {
    position: fixed;
    padding-top: 20px;
    top: 81px;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out;
    font-family: "Inter", sans-serif;
    z-index: 2;
  }
  
  .mainSidebar .nav-link {
    text-decoration: none;
    padding: 1rem;
    color: #718096;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  /* .nav-link img {
    height: 20px;
    fill: #00A7A8;
  } */
  
  .mainSidebar .nav-link.active {
    background-color: #ebeaea;
    color: #00A7A7;
  }
  .mainSidebar .nav-link:hover{
    color: #00A7A8;
  }

  .mainSidebar .Logout-button{
    background-color: #FFFFFF;
    border:none;
    text-decoration: none;
    padding: 1rem;
    color: #718096;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .mainSidebar .Logout-button:hover {
    color: #00A7A8;
  }
  
  /* Sidebar responsive adjustments */
  @media (max-width: 768px) {
    .mainSidebar .sidebar {
      width: 200px;
      transform: translateX(-100%);
    }
  
    .mainSidebar .sidebar.show {
      transform: translateX(0);
    }
  
    .mainSidebar .nav-link {
      padding: 0.8rem;
      font-size: 0.9rem;
    }
  }
  
