.Manager-dropdown-container {
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 45px;
  margin-bottom: 15px;
}

@media only screen and (max-width:900px) {
  .Manager-dropdown-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-top: 15px;
    row-gap: 25px;
  }
}

.Manager-NoofItems-container,
.Manager-sorting-container,
.Manager-filtering-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Inter", sans-serif;
}

.Manager-NoofItems-container span,
.Manager-sorting-container span,
.Manager-filtering-container span {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #4D4D4D;
  user-select: none;
}

.Manager-NoofItems-container select,
.Manager-sorting-container select,
.Manager-filtering-container select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #4D4D4D;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;
  font-weight: 500;
}

.Manager-NoofItems-container select:hover,
.Manager-sorting-container select:hover,
.Manager-filtering-container section:hover .Manager-NoofItems-container select:focus,
.Manager-sorting-container select:focus,
.Manager-filtering-container select:focus {
  border-color: #041607;
}

.Manager-NoofItems-container select option,
.Manager-sorting-container select option,
.Manager-filtering-container select option {
  font-size: 16px;
  color: #4D4D4D;
}

.Manager-NoofItems-container select option:hover,
.Manager-sorting-container select option:hover,
.Manager-filtering-container option:hover {
  background-color: #a6a6a6;
  color: #ffffff;
}

.Manager-Paginate-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: 20PX;
  margin-right: 30PX;
  align-content: center;
  flex-wrap: wrap;
}