.AlternativeMainContainer {
  display: flex;
  margin-top: 80px;
  height: auto;
  overflow-y: auto;
}

.AlternativeContentContainer {
  margin-left: 240px;
  flex-grow: 1;
  height: auto;
  margin-top: 40px;
  margin-right: 40px;
}

/* Layout responsive adjustments */
@media (max-width: 768px) {
  .AlternativeMainContainer {
    margin-left: 20px;
    margin-right: 20px;
  }
}
