.mainDashboard .mainContainer {
    display: flex;
    height: auto;
    overflow-y: auto;
    margin-top: 50px;
}

.mainDashboard .content-container {
    margin-left: 50px;
    flex-grow: 1;
    height: auto;
    margin-top: 0px;
    margin-right: 40px;
}

@media (max-width: 768px) {
    .mainDashboard .content-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}